################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A/ProblemA/obj/Debug
/ProblemA/obj/Debug
/ProblemA/bin/Debug
/ProblemA/bin/Debug
/packages/Newtonsoft.Json.10.0.3
/packages
/ProblemB/obj/Debug
/ProblemB/bin/Debug
/ProblemD/bin/Debug
/ProblemD/obj/Debug
/WebAPI/obj/Debug
/WebAPI.Tests/obj/Debug
/WebAPI.Tests/bin/Debug
/WebAPI/bin
